.container
  = render 'side_bar'
  .identification-content
    %h2 本人情報の登録
    .form-inner
      .form-inner__mypage-explanation
        %p
          お客さまの本人情報をご登録ください。
          %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
      .text-right
        = link_to '本人確認書類のアップロードについて＞'
      .form-inner__group
        %label お名前
        %p 金 正恩
        %p
      .form-inner__group
        %label お名前カナ
        %p キム　ジョンウン
        %p
      .form-inner__group
        %label 生年月日
        %p 1990/10/16
        %p
      .form-inner__group
        %label 郵便番号
        %span 任意
        %input{calss: "input-default", placeholder: "例）1234567", type: "text"}/
      .form-inner__group
        %label 都道府県
        %span 任意
        .select-wrap
          %select.select-default{name: "prefecture"}
            %option{value: "hokkaido"} 北海道
            %option{value: "aomori"} 青森県
            %option{value: "iwate"} 岩手県
            %option{value: "miyagi"} 宮城県
            %option{value: "akita"} 秋田県
            %option{value: "yamagata"} 山形県
            %option{value: "hukushima"} 福島県
            %option{value: "tokyo"} 東京都
            %option{value: "kanagawa"} 神奈川県
            %option{value: "saitama"} 埼玉県
            %option{value: "tiba"} 千葉県
            %option{value: "ibaraki"} 茨城県
            %option{value: "tochigi"} 栃木県
            %option{value: "gunma"} 群馬県
            %option{value: "yamanashi"} 山梨県
            %option{value: "niigata"} 新潟県
            %option{value: "nagano"} 長野県
            %option{value: "toyama"} 富山県
            %option{value: "ishikawa"} 石川県
            %option{value: "hukui"} 福井県
            %option{value: "aichi"} 愛知県
            %option{value: "gihu"} 岐阜県
            %option{value: "sizuoka"} 静岡県
            %option{value: "mie"} 三重県
            %option{value: "oosaka"} 大阪府
            %option{value: "hyogo"} 兵庫県
            %option{value: "kyoto"} 京都府
            %option{value: "shiga"} 滋賀県
            %option{value: "nara"} 奈良県
            %option{value: "wakayama"} 和歌山県
            %option{value: "tottori"} 鳥取県
            %option{value: "shimanne"} 島根県
            %option{value: "okayama"} 岡山県
            %option{value: "hiroshima"} 広島県
            %option{value: "yamaguchi"} 山口県
            %option{value: "tokushima"} 徳島県
            %option{value: "kagawa"} 香川県
            %option{value: "ehime"} 愛媛県
            %option{value: "kochi"} 高知県
            %option{value: "hukuoka"} 福岡県
            %option{value: "saga"} 佐賀県
            %option{value: "nagawasaki"} 長崎県
            %option{value: "kumamoto"} 熊本県
            %option{value: "ooita"} 大分県
            %option{value: "miyazaki"} 宮崎県
            %option{value: "kagoshima"} 鹿児島県
            %option{value: "okinawa"} 沖縄県

            
      .form-inner__group
        %label 市区町村
        %span 任意
        %input{calss: "input-default", placeholder: "例）横浜市緑区", type: "text"}/
      .form-inner__group
        %label 番地
        %span 任意
        %input{calss: "input-default", placeholder: "例）青山1−1−1", type: "text"}/
      .form-inner__group
        %label 建物名
        %span 任意
        %input{calss: "input-default", placeholder: "例）柳ビル103", type: "text"}/
      .form-inner__group
        %button{type: "submit"} 登録する
        .text-right
          %p
            = link_to'本人確認の登録について＞'
