.container
  .user
    %a(href="")
      .user__img
        %img(src="https://pbs.twimg.com/profile_images/1198425104/_________reasonably_small.jpg" alt="profile_img")/
      .user__name
        %pボボボーボ・ボーボボ
      .user__achievement
        .user__achievement--review
          %p評価&nbsp;&nbsp;9999
        .user__achievement--count-of-products
          %p出品数&nbsp;&nbsp;1
  .list
    %ul.list-tab
      %li.list-tab__notice
        %h1
          %a(href="")お知らせ
      %li.list-tab__todo
        %h1
          %a(href="")やることリスト
    %ul.list-body
      %li.list-element
        %a(href="")
          .list-element__image
            %img(src="https://static.mercdn.net/images/mercari_profile.png" alt="mercari_img")/
          .list-element__content
            %p百万円の請求がきましたwwwwwww
          .list-element__time
            %p１時間前
          %i.list-element__arrow.fa.fa-chevron-right
      %li.list-element
        %a(href="")
          .list-element__image
            %img(src="https://static.mercdn.net/images/mercari_profile.png" alt="mercari_img")/
          .list-element__content
            %p百万円の請求がきましたwwwwwww
          .list-element__time
            %p１時間前
          %i.list-element__arrow.fa.fa-chevron-right
      %li.list-element
        %a(href="")
          .list-element__image
            %img(src="https://static.mercdn.net/images/mercari_profile.png" alt="mercari_img")/
          .list-element__content
            %p百万円の請求がきましたwwwwwww
          .list-element__time
            %p１時間前
          %i.list-element__arrow.fa.fa-chevron-right
      %li.list-element
        %a(href="")
          .list-element__image
            %img(src="https://static.mercdn.net/images/mercari_profile.png" alt="mercari_img")/
          .list-element__content
            %p百万円の請求がきましたwwwwwww
          .list-element__time
            %p１時間前
          %i.list-element__arrow.fa.fa-chevron-right
      %li.list-element
        %a(href="")
          .list-element__image
            %img(src="https://static.mercdn.net/images/mercari_profile.png" alt="mercari_img")/
          .list-element__content
            %p百万円の請求がきましたwwwwwww
          .list-element__time
            %p１時間前
          %i.list-element__arrow.fa.fa-chevron-right
    .list-more
      .list-more__button
        %a(href="")一覧を見る
  .deal
    .deal-header
      %h1購入した商品
    %ul.deal-tab
      %li.deal-tab__now
        %h1
          %a(href="")取引中
      %li.deal-tab__past
        %h1
          %a(href="")過去の取引
    %ul.deal-body
      %li.deal-element
        %a(href="")
          .deal-element__image
            %img(src="http://image.rakuten.co.jp/auc-hasegawasengyo/cabinet/03126694/sengyo/img62656263.jpg" alt="salmon_img")/
          .deal-element__content
            %p「トラウトサーモン」を購入しました。受取評価をしてください
          .deal-element__status
            %p受取評価待ち
          %i.deal-element__arrow.fa.fa-chevron-right
      %li.deal-element
        %a(href="")
          .deal-element__image
            %img(src="http://image.rakuten.co.jp/auc-hasegawasengyo/cabinet/03126694/sengyo/img62656263.jpg" alt="salmon_img")/
          .deal-element__content
            %p「トラウトサーモン」を購入しました。受取評価をしてください
          .deal-element__status
            %p受取評価待ち
          %i.deal-element__arrow.fa.fa-chevron-right
      %li.deal-element
        %a(href="")
          .deal-element__image
            %img(src="http://image.rakuten.co.jp/auc-hasegawasengyo/cabinet/03126694/sengyo/img62656263.jpg" alt="salmon_img")/
          .deal-element__content
            %p「トラウトサーモン」を購入しました。受取評価をしてください
          .deal-element__status
            %p受取評価待ち
          %i.deal-element__arrow.fa.fa-chevron-right
      %li.deal-element
        %a(href="")
          .deal-element__image
            %img(src="http://image.rakuten.co.jp/auc-hasegawasengyo/cabinet/03126694/sengyo/img62656263.jpg" alt="salmon_img")/
          .deal-element__content
            %p「トラウトサーモン」を購入しました。受取評価をしてください
          .deal-element__status
            %p受取評価待ち
          %i.deal-element__arrow.fa.fa-chevron-right
      %li.deal-element
        %a(href="")
          .deal-element__image
            %img(src="http://image.rakuten.co.jp/auc-hasegawasengyo/cabinet/03126694/sengyo/img62656263.jpg" alt="salmon_img")/
          .deal-element__content
            %p「トラウトサーモン」を購入しました。受取評価をしてください
          .deal-element__status
            %p受取評価待ち
          %i.deal-element__arrow.fa.fa-chevron-right
      .deal-more
        .deal-more__button
          %a(href="")一覧を見る