- breadcrumb :logout
.container
  = render 'side_bar'
  .content
    .logout
      = link_to destroy_user_session_path, method: :delete, class: "logout__btn" do
        %pログアウト
  = render 'shared/footer-btn'

