.sort-select-container{
  position: relative;

  .sort-select{
    height: 48px;
    width: 100%;
    padding: 0 16px;
    border: 1px solid #ccc;
  }

  .fa-chevron-down{
    position: absolute;
    top: 15px;
    right: 5px;
    width: 25px;
    color: #888;
    font-size: 18px;
    background: white;
  }
}

.search-dropdown-contents{
  position: static;
  display: block;
  margin-top: 40px;
  box-shadow: none;
  padding: 16px;
  background: #fff;

  h3{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .form-group{
    position: relative;
    margin-bottom: 40px;
  }

  .fa{
    margin-right: 4px;
    color: #888;
  }
  
  span{
    font-size: 14px;
    font-weight: bold;
  }

  .input-default{
    width: 100%;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }

  .fa-chevron-down{
    position: absolute;
    top: 48px;
    right: 5px;
    width: 25px;
    color: #888;
    font-size: 18px;
    background: white;
  }

  #input-price{
    @extend .input-default;
  }

  .price-range{
    position: flex;
    margin-top: 8px;

    &__min{
      width: 45%;
      box-sizing: border-box;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
    }

    &__max{
      @extend .price-range__min;

    }
  }

  .check-box{
    display: block;
    margin-top: 16px;
    font-size: 0;
    input{
      margin-top: 16px;
      transform: scale(1.2);
      margin-right: 5px;
      width: 19px;
      height: 20px;
      border-radius: 2px;
      background: #fff;
      border: 1px solid #ccc;
      font-size: 15px;
      line-height: 17px;
      text-align: center;
      color: #fff;
      vertical-align: middle;
    }
    label{
      display: inline-block;
      margin-top: 14px;
      width: 38%;
      font-size: 14px;
      font-weight: 400;
      vertical-align: middle;
      cursor: pointer;

    }

  }






  .search-buttons{
    display: flex;
    justify-content: space-between;
    &__reset{
      width: 45%;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
      line-height: 48px;
      font-size: 14px;
      cursor: pointer;
      text-align: center;
    }

    &__submit{
      @extend .search-buttons__reset;
      background: #ea352d;
      border: 1px solid #ea352d;
    }
  }

}
