.container {
  width: 1020px;
  height: 100%;
  margin: 0 auto 0;
  padding: 40px 0 40px 0;
  display: flex;

  .profile-contents {
    width: 700px;
    height: 568px;
    margin-top: 2px;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    float: right;
  
    .chapter-head {
      height: 33px;
      font-size: 24px;
      padding: 8px 24px;
      border-bottom: 1px solid #f5f5f5;
      font-weight: bold;
      text-align: center;
      letter-spacing: 2px;
    }
  
    .chapter-contents {
      width: 100%;
      height: 100%;
      &__body {
        padding: 72px 16px 24px;
        text-align: center;
        background-image: url('https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?94736652');
  
        img {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          vertical-align: middle;
        }
  
        input {
          width: 186px;
          padding: 10px 16px 8px;
          margin: 0 0 0 8px;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 4px;
          font-size: 16px;
          line-height: 1.5;
          vertical-align: middle;
          }
  
        input:focus {
          outline: none;
          border-color: #0099e8;
        }
      }
  
      &__text {
  
        padding: 40px 16px;
        text-align: center;
        
        textarea {
          display: block;
          min-height: 216px;
          max-width: 100%;
          width: 648px;
          padding: 10px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
        }
  
        textarea:focus {
          outline: none;
          border-color: #0099e8;
        }
  
        button {
          height: 48px;
          width: 670px;
          margin: 16px 0 0 0;
          padding: 0;
          font-size: 14px;
          color: #fff;
          background-color: #ea352d;
          border: 1px solid #ea352d;
          outline: none;
          cursor: pointer;
        }
  
      }
  
    }
  }
}
