.app-bar {
  height: 260px;
  width: 100%;
  background-image: url('https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?6643835');
  background-position: center;
  background-size: cover; 
  color: #fff;

  .bar-contents {
    height: 260px;
    width: 750px;
    margin: auto;
    position: relative;

    &__inner {
      height: 166px;
      width: 420px;
      top: 47px;
      position: absolute;
      float: left;

      h2 {
        height: 33px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
        margin: 0;
      }

      p {
        font-size: 35px;
        height: 35px;
      }

      .inner-icon {
        width: 420px;
        height: 68px;
        margin-top: 30px; 

        figure {
          width: 68px;
          height: 68px;
          float: left;
        }

        ul {
          display: block;
          width: 300px;
          height: 68px;
          margin-left: 8px;
          float: left;

          li {
            float: left;
            margin: 15px 0 0 16px;
          }
        }
      }
    }
    
    figure {
      height: 260px;
      width: 300px;
      margin: 0;
      float: right;
    }
  }
}