* {
  text-decoration: none;
  font-size: 10pt;
  color: black;
}

.container {
  width: 700px;
}

.user {
  width: 100%;
  background: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?17794984);
  
  &__img {
    width: 60px;
    margin: 0 auto;
    padding-top: 30px;

    & img {
      width: 60px;
      height: 60px;  
      border-radius: 50%;
    }
  }

  &__name {
    text-align: center;
  }

  &__achievement {
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 8px auto 0;
    padding-bottom: 20px;

    &--review {
      
    }
  
    &--count-of-puroducts {

    }
  
  }
}

.list {

  &:not(:first-child) {
    margin-top: 40px;
  }

  .list-header {
    height: 50px;
    padding: 0 16px;
  }

  .list-tabs {
    display: flex;
    justify-content: space-between;

    &__title {
      background: #eee;
      width: 50%;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 74px;
      }

      &.active {
        background: #fff;
        border-top: #ea352d solid 2px;
      }  
    }

  }

  .list-body {
    display: none;

    &.active {
      display: block;
    }
    .list-element {
      border-bottom: #eee solid 1px;

      & a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
      }

      &__image {
        & img {
          width: 48px;
          height: 48px;
        }
      }

      &__content {
        width: 90%;

        &-text {

        }

        &-time {
          display: flex;
          align-items: center;
        }

        &-status {
          display: inline-block;

          &.awaiting {
            background: #0099eb;
          }

          & p {
            color: #fff;
          }

        }
      }

      &__arrow {

      }
    }
  }

  .list-more {
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
      margin: 16px;
      height: 56px;
      
    }
  }
}


