.wrappwer {
  background-color: #f3f3f3;
  .contents {
    width: 1020px;
    height: 1252px;
    margin: 0 auto 0;
    padding: 40px 0 40px 0;
    display: flex;
  
    .side-bar {
      width: 280px;
      height: 1252px;
      margin-right: 40px;
      background-color: #fff;
    }
  }
}