.confirmation-contents
  .main-container
    .tops-content
      商品を確定しますか？
    .buy-content
      = image_tag "https://static.mercdn.net/thumb/photos/m84566995704_1.jpg?1560813026",class: "buy-content__image"
      %p.buy-content__product-name
        オールドコーチ ショルダーバッグ
      .buy-form
        %p.buy-form__price
          ¥ 7,800
          %span.buy-form__price-shipping-fee
            送料込み
        .buy-form__buy-accordion
          ポイントはありません
        .buy-form__payment
          .buy-form__payment--left
            支払い金額
          .buy-form__payment--right
            ￥7,800
        %p.buy-form__error-text
          配送先と支払い方法の入力を完了してください。
        = link_to "購入する", pay_users_path, method: :post, class: "buy-form__buy-button", style: "color: white;"
        .user-info
          %h3 配送先
          .user-info__text
            〒555-5555 
            %br
            大阪府大阪市中央区東北浜町2丁目
            %br
            田中　義昭
          .user-info__text--right
            = link_to '変更する'
        .payment-method
          %h3 支払い方法
          .payment-method__text
            クレジットカード
          .payment-method__text--right
            = link_to '変更する'