%footer.footer-area
  %nav.footer-nav
    .footer-nav__about
      %h2.footer-nav__about--head
        メルカリについて
      %ul
        %li
          =link_to root_path do
            会社概要（運営会社）
        %li
          =link_to root_path do
            採用情報
        %li
          =link_to root_path do
            プレスリリース
        %li
          =link_to root_path do
            公式ブログ
        %li
          =link_to root_path do
            メルカリロゴ利用ガイドライン
        %li
          =link_to root_path do
            %i.fa.fa-twitter
        %li
          =link_to root_path do
            %i.fa.fa-facebook-square
    .footer-nav__guide
      %h2.footer-nav__guide--head
        ヘルプ＆ガイド
      %ul
        %li
          =link_to root_path do
            メルカリガイド
        %li
          =link_to root_path do
            らくらくメルカリ便
        %li
          =link_to root_path do
            ゆうゆうメルカリ便
        %li
          =link_to root_path do
            大型メルカリ便
        %li
          =link_to root_path do
            車体取引ガイド
        %li
          =link_to root_path do
            メルカリあんしん・あんぜん宣伝！
        %li
          =link_to root_path do
            偽ブランド品撲滅への取り組み
        %li
          =link_to root_path do
            メルカリボックス
    .footer-nav__terms
      %h2.footer-nav__terms--head
        プライバシーと利用規約
      .footer-nav__terms--left
        %ul
          %li
            =link_to root_path do
              プライバシーとポリシー
          %li
            =link_to root_path do
              メルカリ利用規約
          %li
            =link_to root_path do
              あんしんスマホサポート制度に関する利用規約
          %li
            =link_to root_path do
              コンプライアンスポリシー
      .footer-nav__terms--right
        %ul
          %li
            =link_to root_path do
              個人データの安全管理に係る基本方針
          %li
            =link_to root_path do
              特定商取引に関する表記
          %li
            =link_to root_path do
              資金決済法に基づく表示
          %li
            =link_to root_path do
              法令順守と犯罪抑止のために
          %li
            =link_to root_path do              
              返品・返金ポリシー
    .footer-nav__country
      %h2.footer-nav__country--head
        国
      %ul
        %li
          = link_to root_path do
            日本
        %li
          = link_to root_path do
            United States
  .footer-bottom
    = link_to root_path do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2399382397", class: 'footer-mercari-logo', width: "124", height: "33"
    %span
      © 2019 Mercari