%header.site-header 
  .header-contents
    .header-contents__top
      = link_to root_path do
        = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2155439107', class: 'mercari-logo', height: '36', width: '134'
      %form
        %input.input-box__text{name: 'keyword', placeholder: '何かお探しですか？', type: 'search', value: ''}
        %label.input-box__label
          %i.fa.fa-search 
    .header-contents__nav
      %ul.nav-left
        %li.nav-left__category
          =link_to do
            %i.fa.fa-list-ul
            カテゴリーから探す
        %li.nav-left__brand
          =link_to do
            %i.fa.fa-tag
            ブランドから探す
      - if user_signed_in?
        %ul.nav-right
          %li.nav-right__news
            =link_to do
              %i.fa.fa-bell
              お知らせ
          %li.nav-right__To-do-list
            =link_to do
              %i.fa.fa-check
              やることリスト
          %li.nav-right__mypage
            = link_to user_path(current_user) do
              = image_tag '//static.mercdn.net/images/member_photo_noimage_thumb.png', class: 'mypage-face', width: '32'
              %span
                マイページ
      - else
        %ul.nav-right
          %li.nav-right__signup
            =link_to signup_users_path do
              新規会員登録
          %li
            =link_to user_session_path, class: "nav-right__login" do
              ログイン     
